body {

    padding: 0;
    margin: 0;
    padding-bottom: 0;
}


div.section_info {
    background-color: #c1c2d8;
    width: 30%;
    height: 90%;
    display: inline-block;
    padding-left: 2%;
    padding-right: 2%;
    border-radius: 5%;
}

div.section_recap {
    background-color: #c1c2d8;
    width: 30%;
    height: 90%;
    display: inline-block;
    padding-left: 2%;
    padding-right: 2%;
    border-radius: 5%;
    margin-top: 10%;
    margin-bottom: 10%;
    margin-left: 10%;
    margin-right: 10%;
}

div.section img {
    width: 100%;
    height: auto;
}

h2.recap {
    color: blue;
}

ul {
    list-style: none;
}

li.Destination {
    color: black;
    font-weight: bold;
    font-size: 200%
}

img.img_desti {
    margin: center;
    height: 350px;
    width: 550px;
}

div.prix {
    color: orange;
    font-weight: bold;
    font-family: fantasy;
    padding-left: 70%;
}

label.prix {
    font-size: 200%;
}

label.unite_prix {
    font-size: 40%;
}

input {
    margin: 2%;
    padding: 3px 10px;
    border-radius: 10px;
    background-color: #d2d3eb;
}

input[type=text] {
    width: 20%;
}

input[type=mail] {
    width: 35%;
}

input[type=tel] {
    width: 15%;
}

label.etoile {
    color: red;
}

input.autre_demandes {
    width: 50%;
    padding: 10% 12%;
    background-color: #d2d3eb
}

textarea {
    border-radius: 10px;
    background-color: #d2d3eb
}
